django
pillow
ipython
psycopg2-binary
python-dotenv
djangorestframework
django-filter
djangorestframework-simplejwt
coverage
uritemplate
PyYAML
packaging
inflection
drf-yasg
urllib3
stripe
requests
idna
charset-normalizer
certifi
django-cors-headers
httplib2
